<%- include('../partials/questions/head') %> 
<body>
    <%- include('../partials/questions/header2') %> 
    <div class="main">
    <div class="content">
        <%- include('../partials/questions/11') %> 
        <div class="box answer">
            <p>Here we are going to put links to different pages</p>
            <button><a href="./question1">Page1</a></button>
            <button><a href="./question2">Page2</a></button>
            <button><a href="./question3">Page3</a></button>
            <button><a href="./question4">Page4</a></button>
            <button><a href="./question5">Page5</a></button>
            <button><a href="./question6">Page6</a></button>
            <button><a href="./question7">Page7</a></button>
            <button><a href="./question8">Page8</a></button>
            <button><a href="./question9">Page9</a></button>
        </div>
    </div>
</div>
</body>
