<%- include('../partials/questions/head') %> 
<body>
 <%- include('../partials/questions/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p><%=  newNames%></p>
        <button><a href="./question3">Previous</a></button>
        <button><a href="./question5">Next</a></button>
      </div>
    </div>
  </div>
</body>
