<%- include('../partials/questions/head') %> 
<body>
  <%- include('../partials/questions/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/1') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>I am here.</p>
        <button><a href="./question2">Next</a></button>
        <button><a href="./">Go BACK TO HOMEPAGE</a></button>
      </div>
    </div>
  </div>
</body>
